<!-- Services Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!--img src="{{site.logo.icon-banner}}" alt="{{site.title}}" style="margin:20px; height:100%;width:90%;"-->
                <h2 class="service-heading text-tertiary">{{site.data.about.primary}}</h2>
            </div>
            <!-- <div class="col-md-1">
            </div> -->
            <div class="col-md-6">
                <!-- <h3 class="service-heading">We believe that maps built on open data and open technology are a key ingredient to civic empowerment.</h3> -->
                <p class="large">{{site.data.about.secondary}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3 class="large">
                    <a href="#portfolio" class="page-scroll">See the work we've done
                        <i class="fa fa-arrow-down fa-1x"></i>
                    </a>
                </h3>
            </div>
            <!-- <div class="col-md-1">
            </div> -->
            <div class="col-md-6">
                <h3 class="large">
                    <a href="#services" class="page-scroll">See what we can do for you
                        <i class="fa fa-arrow-down fa-1x"></i>
                    </a>
                </h3>
            </div>
        </div>
    </div>
</section>