<!-- hero "header" -->

<div id="banner_main" class="header">
	<div class="container">
		<div class="row">
			<div class="intro-text">
				<div class="intro-heading">
					<div class="col-sm-12">
						<img src="{{ site.baseurl }}/assets/img/logos/banner.svg"  alt="{{site.title}}">
					</div>
				</div>
			</div>
			<a href="#about" class="page-scroll btn btn-xl">Learn More</a>
		</div>
		<div class="row">
			<div class="intro-text">
					<div class="col-sm-12">
					</div>
				</div>
		</div>
	</div>
</div>
