<!-- hero "header" -->

<div id="banner_main" class="header">
	<div class="container">
		<div class="intro-text">
			<div class="intro-heading">
				<img src="{{ site.baseurl }}/assets/img/logos/banner.svg"  alt="{{site.title}}">
			</div>
			<div class="intro-lead-in">Modern geospatial technology solutions for solving problems in the natural and built environments</div>
			<div class="intro-heading">
				<a href="#about" class="page-scroll btn btn-xl">Learn More</a>
				<a href="#contact" class="page-scroll btn btn-xl">Get in Touch</a>
			</div>
		</div>		

	</div>
</div>
