<section id="portfolio">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="section-heading">Portfolio</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8">
				<div class="row">
					<div class="col-sm-12 portfolio-item">


						{% for project in site.projects %} {% if project.category != 'past' %}
						<div class="col-xs-6 portfolio-item">
							<a href="{{ site.baseurl }}{{ project.url }}" class="portfolio-link">
								<div class="portfolio-hover">
									<div class="portfolio-hover-content"><h4>{{ project.title}}</h4></div>
								</div>
								<img src="{{ site.baseurl }}/assets/img/proj/{{ project.thumb-image }}" class="img-responsive" alt="">
							</a>
						</div>
						{% endif %} {% endfor %}

					</div>
					<!-- <div class="col-sm-6 portfolio-item">
						<h4><a href="{{site.baseurl}}/portfolio#past" class="portfolio-link text-white">Team Portfolio <i class="fa fa-arrow-right fa-1x"></i></a></h4>
						<div class="row">
							{% for project in site.projects offset: 0 limit: 8 %}
							{% if project.category == 'past' %}
							<div class="col-xs-6 portfolio-item">
								<a href="{{ site.baseurl }}{{ project.url }}" class="portfolio-link">
									<div class="portfolio-hover">
										<div class="portfolio-hover-content">
											<i class="fa fa-plus-square fa-2x"></i>
										</div>
									</div>
									<img src="{{ site.baseurl }}/assets/img/proj/{{ project.thumb-image }}" class="img-responsive" alt="">
								</a>
							</div>
							{% endif %}
							{% endfor %}

						</div>

					</div> -->
				</div>
			</div>
			<div class="col-sm-4">
				<p class="large">Our team's project experience encompasses the full spectrum of geospatial: everything from paper map cartography to serverless application architecture. We've worked with GIS in and with many disciplines, including:</p>
				<p class="large">
					<ul class="large">
						<li>geoscience</li>
						<li>civil engineering</li>
						<li>environmental science</li>
						<li>urban/regional planning and design</li>
						<li>municipal management</li>
					</ul>
				</p>
			</div>			
		</div>
		<div class="row text-center">
                <div class="col-lg-12">
                    <div class="intro-heading">
							<a href="{{site.baseurl}}/portfolio#current" class="portfolio-link btn btn-xl">See All Projects
								<i class="fa fa-arrow-right fa-1x"></i>
							</a>						
                        <br>
                    </div>
                </div>
            </div>		
		<h4>
				
			</h4>
	</div>
</section>