<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">

			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<h3>CIVICMAPPER</h3>
				<p>{{site.data.contact.info.street}}<br>{{site.data.contact.info.name}}<br>{{site.data.contact.info.city}}, {{site.data.contact.info.state}} {{site.data.contact.info.zip}}<br>{{site.data.contact.info.phone}}</p>
			</div>
			<div class="col-sm-5">
				<p>Contact Us:</p>
				<ul class="list-inline social-buttons">
					{% for network in site.data.contact.social %}
					<li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-sm-4">
				<a class="twitter-timeline" data-height="350" data-link-color="#be1e2d" href="https://twitter.com/CivicMapper">Tweets by CivicMapper</a> 
				<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<ul class="list-inline quicklinks">
					<li><span class="copyright">&copy; {{ site.corporate.date }} {{ site.corporate.name }} </span></li>
					<!--
					<li><a href="">Privacy Policy</a></li>
					<li><a href="">Terms of Use</a></li>
					-->
				</ul>
			</div>
		</div>
	</div>
</footer>
