<!DOCTYPE html>
<html>

	{% include head.html %}

	<style>
		.header-img {
			background-image:
				linear-gradient(
					rgba(51, 93, 131, 0.9),
					rgba(51, 93, 131, 0.3)
				),
				url({{ site.baseurl }}/assets/img/verts/{{ page.header-image }});
		}
	</style>

	<body id="page-top" class="index">

		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand page-scroll" href="/">
					<img src="{{ site.baseurl }}/assets/img/logos/banner.svg" class="header-logo" alt="{{site.title}}">
				</a>
		</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="{{site.baseurl}}/#who-we-help" ><<< Who We Help</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="header header-img">
			<div class="container">

				<div class="intro-text">
					<p class="text-white">Who we help:</p>
					<div class="intro-heading text-white">
						{{ page.title }}
					</div>
				</div>
			</div>
		</div>

		<div class="container">

				<div class="row post-row">
						<div class="col-md-4">
							<hr>
							<h2 class="hidden-xs hidden-s">{{ page.title }}</h2>
							<p class="service-heading"><em>{{ page.short }}</em></p>
							{% for tag in page.tags %}<span class="label label-default">{{ tag }}</span> {% endfor %}
							<hr>
						</div>
						<div class="col-md-8">
							{{ page.content }}
						</div>
					</div>

		</div>
		{% include footer.html %}
		{% include js.html %}
	</body>

</html>
